.sidenav {
    height: 100%;  
    width: 15%;  
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color:#232323; 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    display: flex;
    flex-direction: row;
}

.section {
    display: inline-block;
    width: 70%; /* Set the width of each section relative to the viewport width */
    padding: 15px;
    margin-top: 4%; /* Add spacing between each section */
    background-color: #ccc; /* Set the background color to grey */
    border-radius: 5px;
    text-align: center; /* Center-align text */
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif; /* Set preferred font family */
    font-size: 18px; /* Set preferred font size */
    font-weight: bold; /* Optionally make text bold */
    color: #333; /* Set text color */
    text-decoration: none; /* Remove underline */
  }
  
  .section:hover {
    background-color: #aaa;
  }